.copyright__text {
  width: 91px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: black;
  padding-top: 3px;
}
.copyright__link {
  font-size: 0;
  width: 27px;
  height: 34px;
  margin-left: auto;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
}
