.doubts {
  width: 320px;
  margin-top: 33px;
}
.doubts__header {
  text-align: center;
  width: 236px;
  margin: 0 auto;
}
.doubts__slogan {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  color: black;
}
.doubts__intro {
  margin: 0;
  padding-top: 26px;
  line-height: 24px;
}
