.feature {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.feature__item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;

  &--hotel {
    position: relative;
    padding-top: 35px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-house.svg");
      width: 37px;
      height: 36px;
      background-repeat: no-repeat;
      left: 22px;
      top: 26px;
      background-size: 37px 36px;
    }
  }

  &--gift {
    position: relative;
    padding-top: 28px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-gift.svg");
      width: 32px;
      height: 38px;
      background-repeat: no-repeat;
      left: 25px;
      top: 17px;
      background-size: 32px 38px;
    }
  }

  &--food {
    position: relative;
    padding-top: 28px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-burger.svg");
      width: 40px;
      height: 35px;
      background-repeat: no-repeat;
      left: 18px;
      top: 23px;
      background-size: 40px 35px;
    }
  }
}

.feature__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  color: black;
}

.feature__text {
  margin: 0;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  padding-top: 14px;
}

.feature__hidden-mobile-tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .feature {
    margin: 0;
  }

  .feature__item {
    width: 33.3%;
    padding: 0;
    padding-top: 159px;
    padding-bottom: 61px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &--hotel {
      order: 1;
      padding-left: 45px;
      padding-right: 45px;

      &::before {
        width: 75px;
        height: 72px;
        background-size: 75px 72px;
        top: 60px;
        left: 90px;
      }
    }

    &--gift {
      order: 3;
      padding-left: 39px;
      padding-right: 40px;

      &::before {
        width: 64px;
        height: 75px;
        background-size: 64px 75px;
        top: 57px;
        left: 96px;
      }
    }

    &--food {
      order: 2;
      padding-left: 53px;
      padding-right: 52px;

      &::before {
        width: 77px;
        height: 68px;
        background-size: 77px 68px;
        top: 63px;
        left: 89px;
      }
    }
  }

  .feature__title {
    font-size: 21px;
  }

  .feature__text {
    padding-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .feature__item {
    padding-bottom: 82px;

    &--hotel::before {
      top: 60px;
      left: 161px;
    }

    &--gift::before {
      top: 57px;
      left: 168px;
    }

    &--food::before {
      top: 63px;
      left: 161px;
    }
  }

  .feature__hidden-desktop {
    display: none;
  }

  .feature__hidden-mobile-tablet {
    display: inline;
  }
}
