.interes {
  text-align: center;
  width: 261px;
  margin: 0 auto;
}
.interes__title {
  margin: 0;
  padding-top: 26px;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  color: black;
}
.interes__text {
  margin: 0;
  padding-top: 19px;
  line-height: 24px;
}
.interes__hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .interes {
    width: 435px;
  }
  .interes__title {
    font-size: 30px;
    padding-top: 55px;
  }
  .interes__text {
    padding-top: 30px;
  }
  .interes__hidden {
    display: inline;
  }
}
@media (min-width: $desktop-width) {
  .interes__title {
    padding-top: 56px;
  }
  .search__button {
    margin-top: 47px;
  }
}
