.interes {
  text-align: center;
  width: 261px;
  margin: 0 auto;
}
.interes__title {
  margin: 0;
  padding-top: 26px;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  color: black;
}
.interes__text {
  margin: 0;
  padding-top: 19px;
  line-height: 24px;
}
