.main-nav {
  position: relative;
  display: none;
  &--nojs {
    display: block;
  }
  &--opened {
    display: block;
  }
  &--closed {
    display: none;
  }
}
.main-nav__toggle {
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  border: 0;
  &--open {
    background-image: url(../img/icon-menu.svg);
    width: 23px;
    height: 21px;
    left: 87%;
    top: 107%;
  }
  &--close {
    background-image: url(../img/icon-cross.svg);
    width: 23px;
    height: 22px;
    left: 87%;
    top: 7%;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
