.map {
  margin-top: 49px;
  position: relative;
}
.map__interactive {
  width: 100%;
}
.map__static {
  position: absolute;
  width: 320px;
  height: 350px;
  left: 0;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .map {
    margin-top: 58px;
  }
	.map__static {
    width: 100%;
	}
}
@media (min-width: $desktop-width) {
  .map {
    margin-top: 66px;
  }
}
