.map {
  // margin-top: 49px;
  // position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map__interactive {
  // width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.map__static {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;

  &::before {
    content: "";
    width: 27px;
    height: 27px;
    position: absolute;
    background-image: url("../img/icon-map-marker.svg");
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: -13px;
  }
}

.map__static-img {
  max-height: 350px;
}

@media (min-width: $tablet-width) {
  .map {
    margin-top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin-top: 66px;
  }
}
