.page-footer {
  text-align: center;
  padding-top: 30px;
}
.page-footer__title {
  width: 136px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  color: black;
}
.page-footer__social {
  width: 151px;
  margin: 0 auto;
  margin-top: 36px;
}
.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  width: 129px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 648px;
    margin: 0 auto;
    justify-content: space-between;

    align-items: center;
    &--form {
      padding-top: 74px;
    }
  }
  .page-footer__title,
  .page-footer__social,
  .page-footer__copyright {
    margin: 0;
  }
  .page-footer__title {
    margin-right: 112px;
  }
  .page-footer__social {
    margin-right: 120px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    max-width: 964px;
    &--form {
      padding-top: 78px;
      max-width: 964px;
    }
  }
}
