.page-footer {
  text-align: center;
  padding-top: 30px;
}
.page-footer__title {
  width: 136px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  color: black;
}
.page-footer__social {
  width: 151px;
  margin: 0 auto;
  margin-top: 36px;
}
.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  width: 129px;
  margin: 0 auto;
  margin-top: 40px;
}
