.page-footer {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 23px;
}

.page-footer__title {
  width: 136px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  color: black;
}

.page-footer__social {
  width: 151px;
  margin: 0 auto;
  margin-top: 36px;
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  width: 129px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 648px;
    margin: 0 auto;
    padding-bottom: 36px;
    justify-content: space-between;
    align-items: center;

    &--index {
      margin-top: 30px;
    }

    &--photo {
      margin-top: 76px;
    }

    &--form {
      margin-top: 74px;
    }
  }

  .page-footer__title,
  .page-footer__social,
  .page-footer__copyright {
    margin: 0;
  }

  .page-footer__title {
    margin-right: 112px;
  }

  .page-footer__social {
    margin-right: 120px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    max-width: 964px;

    &--form {
      max-width: 964px;
      margin-top: 78px;
    }

    &--photo {
      margin-top: 121px;
    }
  }
}
