.photo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 46px;
}
.photo__box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e5e5e5;
  &--top {
    border-top: 1px solid #e5e5e5;
  }
}
.photo__box-wrapper {
  width: 280px;
  margin: 0 auto;
}
.photo__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.photo__picture {
  display: block;
}
.photo__text {
  display: block;
  padding-top: 16px;
  font-size: 14px;
  line-height: 24px;
}
.photo__author {
  margin: 0;
  text-transform: none;
}
.photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
}
.photo__like {
  margin: 0;
  padding: 0;
  border: none;
  background-image: url(../img/icon-like.svg);
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
  font-size: 0;
  background-color: white;
  opacity: 0.3;
}
.photo__counter {
  margin: 0;
  font-weight: bold;
  line-height: 1.71;
  padding-top: 3px;
  padding-left: 14px;
}
