.photo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 46px;
}

.photo__box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e5e5e5;

  &--top {
    border-top: 1px solid #e5e5e5;
  }
}

.photo__box-wrapper {
  width: 280px;
  margin: 0 auto;
}

.photo__picture {
  display: block;
}

.photo__text {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.photo__author {
  margin: 0;
  text-transform: none;
}

.photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
}

.photo__like {
  margin: 0;
  padding: 0;
  border: none;
  background-image: url("../img/icon-like.svg");
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
  font-size: 0;
  background-color: transparent;
  opacity: 0.3;
  outline: none;
  cursor: pointer;
}

.photo__counter {
  margin: 0;
  font-weight: bold;
  line-height: 1.71;
  margin-top: 3px;
  margin-left: 14px;
  color: black;
}

@media (min-width: $tablet-width) {
  .photo {
    max-width: 648px;
    margin: 0 auto;
  }

  .photo__box {
    width: 324px;
    border: none;
    margin: 0;
    padding: 0;

    &--top {
      width: 100%;
      margin-top: 41px;
    }
  }

  .photo__box-wrapper {
    margin: 0;
    width: 100%;
  }

  .photo__link {
    width: 100%;
    max-height: 267px;

    &--top {
      max-height: 400px;
    }
  }

  .photo__picture {
    width: 100%;
    max-height: 400px;
  }

  .photo__footer {
    min-height: 80px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
  }

  .photo__footer-wrapper {
    margin-left: 21px;
  }

  .photo__wrapper {
    margin-left: auto;
    margin-top: 28px;
    margin-right: 22px;

    &--top {
      margin-right: 21px;
    }

    &--cactus {
      margin-right: 29px;
    }

    &--road {
      margin-right: 36px;
    }

    &--bridge {
      margin-right: 30px;
    }
  }

  .photo__counter {
    margin-left: 9px;

    &--top {
      margin-left: 7px;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo {
    max-width: $desktop-width;
    position: relative;
  }

  .photo__box {
    width: 400px;
    margin: 0;

    &--top {
      width: 100%;
      margin-top: 41px;
    }
  }

  .photo__footer {
    position: absolute;
    bottom: 0;
    min-height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
  }

  .photo__text,
  .photo__author {
    color: white;
  }

  .photo__like {
    background-image: url("../img/icon-likew.svg");
    opacity: 1;
  }

  .photo__footer-wrapper {
    margin-left: 21px;
  }

  .photo__wrapper {
    margin-left: auto;
    margin-top: 27px;
    margin-right: 29px;

    &--top {
      margin-right: 22px;
    }

    &--road {
      margin-right: 37px;
    }
  }

  .photo__counter {
    color: white;

    &--top {
      margin-left: 8px;
    }
  }

  .photo__picture {
    max-height: 267px;

    &--top {
      max-height: 400px;
    }
  }
}
