.prologue {
  text-align: center;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 28px;
    &--main {
      width: 255px;
      margin-bottom: 0;
    }
    &--form {
      width: 276px;
      margin-bottom: 17px;
    }
}

.prologue__slogan {
  margin: 0;
  padding-top: 37px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: black;
  &--main {
    padding-top: 40px;
  }
}
.prologue__intro {
  margin: 0;
  padding-top: 27px;
  line-height: 24px;
  &--main {
    line-height: 26px;
    padding-top: 29px;
  }
}

@media (min-width: $tablet-width) {
	.prologue {
    min-width: 490px;
	}
}
