.search {
  width: 100%;
}
.search__button {
  width: 280px;
  height: 58px;
  margin-top: 35px;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
}

@media (min-width: $tablet-width) {
  .search__button {
    width: 458px;
    margin-top: 42px;
  }
}
@media (min-width: $desktop-width) {
  .search__button {
    margin-top: 47px;
  }
}

