.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-width: $mobile-width;
  background-color: #ffffff;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-transform: uppercase;
  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}
