$blue: #81b3d2;

//Template containers
$mobile-width-container: 320px;
$tablet-width-container: 768px;
$desktop-width-container: 1200px;

//Template breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
